.supermarket-offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.supermarket-name {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    color: #333;
    /* Adjust color to your preference */
}

.offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    /* Adjust max-width based on your design */
    margin-top: 1.5rem;
}

.offer-card {
    border: 1px solid #ddd;
    padding: 1.5rem 1.5rem 3rem;
    margin: 1rem;
    width: 20rem;
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    /* flex: 1; */
    justify-content: space-between;
    transition: transform 0.2s, box-shadow 0.2s;
}

.out-of-stock-gray {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(100%);
}

.offer-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.offer-card h2 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.offer-details {
    margin-top: auto;
    /* Push details to the bottom */
}

.offer-details p {
    margin-top: 0.5rem;
    /* Add a small top margin for spacing */
    font-size: 0.9rem;
    /* color: #666; */
}

.supermarket-address {
    font-size: 1rem;
    color: #777;
    margin-bottom: 1rem;
    text-align: center;
}

.discount-price {
    font-size: 0.9rem;
    color: #999;
    /* Adjust color to your preference */
    margin-bottom: 0.5rem;
}

.original-price {
    font-size: 0.9rem;
    color: #ff5733;
    /* Adjust color to your preference */
    margin-bottom: 0.5rem;
    text-decoration: line-through;
}

.likes-dislikes {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: #666;
}

.username {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.text-black {
    color: #000;
}

.offer-link {
    color: inherit;
    /* Inherit the color from the parent element */
}

.offer-link:hover,
.offer-link:focus {
    color: #000;
}

.offer-link.text-black {
    color: #000;
}

.offer-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.in-stock {
    color: #4caf50;
    /* ... existing styles ... */
}

.out-of-stock {
    color: #ff5733;
    /* ... existing styles ... */
}

.updatedAt {
    /* Style for the updatedAt section */
    margin-top: 0.5rem;
    font-size: 0.7rem;
    color: #666;
    /* Adjust color to your preference */
    display: flex;
    align-items: center;
    justify-content: center;
}

.updatedAt-text {
    /* Style for the text within updatedAt */
    margin: 0;
}

.updatedAt-icon {
    /* Style for the clock icon */
    margin-right: 0.3rem;
    color: #666;
    /* Adjust color to your preference */
}

/* Style for the stock button */
.stock-button {
    background: transparent;
    border: 1px solid #666;
    /* Add a border with a different color */
    border-radius: 5px;
    /* Add rounded corners */
    cursor: pointer;
    padding: 0.5rem 1rem;
    /* Add padding for clickable area */
    font-size: inherit;
    display: inline-flex;
    transition: background-color 0.6s, color 1.0s, border-color 0.8s;
    /* Add smooth transition */
}

.in-stock:hover {
    background-color: #ff5733;
    border: 1px solid #666;
    /* Change background color on hover */
    color: white;
    /* Change text color on hover */
    border-color: #ff5733;
    /* Change border color on hover */
}

.in-stock:hover span {
    /* Change text color on hover */
    display: none;
    color: white;
}

.in-stock:hover::before {
    /* Change text color on hover */
    content: "\f057  Report as out of stock";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    color: white;
}

.out-of-stock:hover {
    background-color: #4caf50;
    border: 1px solid #666;
    /* Change background color on hover */
    color: white;
    /* Change text color on hover */
    border-color: #4caf50;
    /* Change border color on hover */
}

.out-of-stock:hover span {
    /* Change text color on hover */
    display: none;
}

.out-of-stock:hover::before {
    /* Change text color on hover */
    content: "\f058  Report as in stock";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    color: white;
}

.likes-icon {
    color: #666;
    /* Adjust color to your preference */
}

.likes-icon:hover {
    color: #3498db;
    /* Adjust color to your preference */
}

.likes-icon.liked {
    color: #3498db;
    /* Adjust color to your preference */
}

.likes-icon.liked:hover {
    color: #666;
    /* Adjust color to your preference */
}

.dislikes-icon {
    color: #666;
    /* Adjust color to your preference */
}

.dislikes-icon:hover {
    color: #ff5733;
    /* Adjust color to your preference */
}

.dislikes-icon.disliked {
    color: #ff5733;
    /* Adjust color to your preference */
}

.dislikes-icon.disliked:hover {
    color: #666;
    /* Adjust color to your preference */
}